<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>点赞--test</title>
	<link rel="stylesheet"  href="/styles/index.css">
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.bootcss.com/systemjs/0.20.19/system.js"></script>
	<script src="/script/index.js"></script>
	<style type="text/css">
		

	</style>
</head>
<body>
	<div class="hand" id="hand">
		<span class="count"  id="count" datavalue="12121"></span>
	</div>
	<i id="showanimation">+1</i>
</body>
</html>
